.page-wrapper {
  width: 100%;
  max-width: 992px;
  margin: auto;
  text-align: center;
  padding: 10px;
}
.page-wrapper header a .header-img {
  width: 100%;
  max-width: 600px;
}
.page-wrapper section.content {
  background: red;
}
.bla {
  display: none;
}
